<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
						<div class="friend-logo">
							<span><img src="../../../assets/images/wink.png" alt=""></span>
						</div>
						<a href="#" title="" class="folow-me">Follow Us on</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area reg">
						<h2 class="log-title">Register</h2>
						<p>
							Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join
								now</a>
						</p>
						<form id="regForm" [formGroup]="form" (ngSubmit)="registerHandler()">
							<div class="form-group">
								<input type="text" formControlName="firstName" required />
								<label class="control-label" for="input">First Name<i class="fas fa-check"
										*ngIf="form.get('firstName')?.valid"></i></label><i class="mtrl-select"></i>
								<ng-container *ngIf="form.get('firstName')?.touched">
									<p class="error" *ngIf="form.get('firstName')?.errors?.['required']">First name is
										required !</p>
									<p class="error" *ngIf="form.get('firstName')?.errors?.['minlength']">First name
										must be at least 3 characters long !</p>
									<p class="error" *ngIf="form.get('firstName')?.errors?.['maxlength']">First name
										cannot be more than 15 characters long !</p>
								</ng-container>
							</div>
							<div class="form-group">
								<input type="text" formControlName="lastName" required />
								<label class="control-label" for="input">Last Name<i class="fas fa-check"
										*ngIf="form.get('lastName')?.valid"></i></label><i class="mtrl-select"></i>
								<ng-container *ngIf="form.get('lastName')?.touched">
									<p class="error" *ngIf="form.get('lastName')?.errors?.['required']">Last name is
										required !</p>
									<p class="error" *ngIf="form.get('lastName')?.errors?.['minlength']">Last name must
										be at least 3 characters long !</p>
									<p class="error" *ngIf="form.get('lastName')?.errors?.['maxlength']">Last name
										cannot be more than 20 characters long !</p>
								</ng-container>
							</div>
							<ng-container formGroupName="pass">
								<div class="form-group">
									<input type="password" formControlName="password" required />
									<label class="control-label" for="input">Password<i class="fas fa-check"
											*ngIf="form.get('pass')?.get('password')?.valid"></i></label><i
										class="mtrl-select"></i>
									<ng-container *ngIf="form.get('pass')?.get('password')?.touched">
										<p class="error"
											*ngIf="form.get('pass')?.get('password')?.errors?.['required']">Password is
											required !</p>
										<p class="error"
											*ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">Password
											must
											be at least 6 characters long !</p>
									</ng-container>
								</div>
								<div class="form-group">
									<input type="password" formControlName="repeatPassword" required />
									<label class="control-label" for="input">Repeat Password<i class="fas fa-check"
											*ngIf="form.get('pass')?.get('repeatPassword')?.valid"></i></label><i
										class="mtrl-select"></i>
									<p class="error"
										*ngIf="form.get('pass')?.get('password')?.valid && form.get('pass')?.get('repeatPassword')?.pristine">
										Please repeat your password !
									</p>
									<ng-container *ngIf="form.get('pass')?.get('repeatPassword')?.touched">
										<p class="error"
											*ngIf="form.get('pass')?.get('repeatPassword')?.errors?.['required']">Repeat
											password is
											required !</p>
									</ng-container>
									<ng-container
										*ngIf="form.get('pass')?.get('password')?.dirty && form.get('pass')?.get('repeatPassword')?.dirty">
										<p class="error" *ngIf="form.get('pass')?.errors?.['passwordMatchValidator']">
											Passwords
											did't match !</p>
									</ng-container>
								</div>
							</ng-container>
							<div class="form-radio">
								<div class="radio">
									<label>
										<input type="radio" value="Male" formControlName="gender" /><i
											class="check-box"></i>Male
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" value="Female" formControlName="gender" /><i
											class="check-box"></i>Female
									</label>
								</div>
							</div>
							<div class="form-group">
								<input type="text" formControlName="email" required />
								<label class="control-label" for="input">Email<i class="fas fa-check"
										*ngIf="form.get('email')?.valid"></i></label><i class="mtrl-select"></i>
								<ng-container *ngIf="form.get('email')?.touched">
									<p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is
										required !</p>
									<p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">Please
										enter a valid email address !</p>
								</ng-container>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" checked="checked" /><i class="check-box"></i>Accept Terms &
									Conditions ?
								</label>
							</div>
							<div class="submit-btns">
								<button class="mtr-btn signup" [disabled]="form.invalid"><span>Register</span></button>
								<div class="already-have"><a routerLink="/auth/login" title="">Already have an account ?
										Click to Login</a></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>